body {
  background-color: #121212;
  color: white;
}
.card {
  background-color: #1ed760;
  border: none;
} /* Spotify Green */
.form-control {
  background-color: #2a2a2a;
  border: none;
  color: white;
}
.form-control:focus {
  background-color: #333;
  color: white;
  box-shadow: none;
  border: 1px solid #1ed760;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}
